.chat-group-form
  %h1
    = group_form_title
  = form_for @group, html: { class: 'new_chat_group', id: 'new_chat_gorup' } do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :グループ名, class: 'chat-group-form__label'
      .chat-group-form__field--right
        = f.text_field :name, placeholder: 'グループ名を入力してください', class: 'chat-group-form__input', id: 'chat-group-name'
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :チャットメンバーを追加, class: 'chat-group-form__label'
      .chat-group-form__field--right
        .chat-group-form__search.clearfix
          = f.text_field :user_ids, placeholder: '追加したいユーザー名を入力してください', id: 'user-search-field', class: 'chat-group-form__input'
          / - if @not_members.present?
          /   = f.collection_check_boxes :user_ids, @not_members, :id, :name, class: 'chat-group-form__input', id: 'user-search-field'
          / - else
          /   %p 他に追加できるユーザーはいません
        %ul#user-search-result
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :チャットメンバー, class: 'chat-group-form__label'
      .chat-group-form__field--right
        #chat-group-users
          .chat-group-user.clearfix
            %p.chat-group-user__name
              = current_user.name
              = f.hidden_field :user_ids, value: current_user.id, name: 'group[user_ids][]'
          = render partial: 'users/user', collection: @members, locals: { f: f }
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit 'Save', class: 'chat-group-form__action-btn'

